/* .my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}
body {
  height: 100%;
  margin: 0;
} */
/* 
.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
} */

body {
  background-image: url("./twink.jpg");
}
.bg {
  /* The image used */
  background-image: url("https://live.staticflickr.com/5120/14187717431_cbdf4500ba_k.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-transform: capitalize;
}

.content-wrapper {
  margin: 40px;
}

body {
  position: relative;
  left: 10px;
}

.photos {
  position: absolute;
  /* top: 350px; */
  right: 10px;
  top: 320px;
  left: 400px;
  /* max-width: 400px; */
}
/* 
h1 {
  position: absolute;
  left: 10px;
} */
/* body:not(.photos) {
  position: absolute;
  left: 10px;
} */

/* body {
  background-color: #cac6e0;
} */

#photoForm {
  width: 250px;
  height: 27px;
}

#moveForm {
  position: absolute;
  top: 260px;
  left: 400px;
}
