
<%=link_to 'Add new pic'%>
  <br>
  <br>
  <br>

<h3>Click on picture to find out more!</h3>
  <div class='container'>

<% @photos.each do|photo|%>


    <%=link_to image_tag(photo.image_link, height:'200'), photo_path(photo)%>

  <%end%>
</div>
